.App {
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--background);
  font-family: var(main-font);
}
.App img {
  width: 100%;
  margin: 20px 0;
}
.App footer {
  text-align: center;
  font-family: var(--monospace);
  font-size: 11px;
  margin: 20px;
}

.App .main-section {
  padding: 20px;
  border-radius: 4px;

  background: white;
  max-width: 650px;
  margin: 0 auto;
}
