.App {
  margin: 0 auto;
  font-family: var(main-font);
}
section {
  background-color: var(--background);

  padding: 10px 30px;
  margin: 20px 0;
  border-radius: 5px;
}

.App img {
  width: 100%;
  margin: 20px 0 0 0;
}
.App footer {
  text-align: center;
  font-family: var(--monospace);
  font-size: 11px;
  margin: 20px;
}

.App .main-section {
  background: white;
  max-width: 800px;
  margin: 0 auto;
}
