.Dictionary .form {
  max-width: 380px;
  margin: 0 auto;
}
.Dictionary .form-components {
  display: flex;
  justify-content: space-around;
}
.Dictionary .search-bar {
  border-radius: 3px;
}
.Dictionary .search-button {
  border-radius: 3px;
  background: var(--secondary);
  color: var(--background);
}
.Dictionary .search-button:hover {
  background: var(--highlight);
  color: var(--background);
}
