:root {
  --main-font: "Lato", sans-serif;
  --roboto: "Roboto", sans-serif;
  --monospace: "Space Mono", monospace;
  --primary: #303841;
  --secondary: #1b3c53;
  --highlight: #13a4c8;
  --background: #e6f8fd;
}
