i {
  color: var(--secondary);
  font-size: 25px;
  position: relative;
  top: 3px;
}
.active {
  cursor: pointer;
  transition: 0s 1s;
}
.active:hover {
  cursor: pointer;
}
.active:active {
  color: var(--highlight);
  transition: 0s;
}
.deactivated {
  color: #eeeeee;
}
.phonetic-text {
  font-family: var(--monospace);
  font-size: 16px;
  margin-left: 10px;
}
